* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'ChunkyRegular', ChunkyRegular;
}
:root
{
    --clr: #151649;
}
body
{
    margin: 0;
    background-image: url(../img/logo.png);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:  40vh;
    background: var(--clr);
}
.flex-center
{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
#fondo {
    width: 800px;
    height: 500px;
    background-image: url(../img/logo.png)
}
.nav
{
    position: relative;
    top: 200px;
    width: 950px;
    height: 92px;
    background: rgba(255, 208, 0, 0.884);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.nav ul
{
    display: flex;
    width: 850px;
}
.nav ul li
{
    position: relative;
    list-style: none;
    width: 180px;
    height: 70px;
    z-index: 1;
}
.nav ul li a
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}
.nav ul li a .icon
{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--clr);
}
.nav ul li:hover a .icon
{
    transform: translateY(-35px);
}
.nav ul li a .text
{
    position: absolute;
    color: var(--clr);
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    transform: translateY(20px);
}
.nav ul li:hover a .text
{
    opacity: 1;
    transform: translateY(20px);
}
.indicator
{
    position: absolute;
    top: 0%;
    width: 80px;
    height: 80px;
    transition: 0.5s;
}
.indicator::before
{
    content: '';
    position: absolute;
    top: 50%;
    left: -22px;
    width: 20px;
    height: 20px;
    background: transparent;

}
.indicator::after
{
    content: '';
    position: absolute;
    top: 50%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
}

.nav ul li:nth-child(1).active ~ .indicator
{
    transform: translateX(calc(70px * 0));
}
.nav ul li:nth-child(2).active ~ .indicator
{
    transform: translateX(calc(70px * 1));
}
.nav ul li:nth-child(3).active ~ .indicator
{
    transform: translateX(calc(70px * 2));
}
.nav ul li:nth-child(4).active ~ .indicator
{
    transform: translateX(calc(70px * 3));
}
.nav ul li:nth-child(5).active ~ .indicator
{
    transform: translateX(calc(70px * 4));
}
* {
    font-family: 'Play', ChunkyRegular;
}

.article {
    position: absolute;
    top: 400px;
    min-height: 1000px;
    background-color: #fff;
    margin-top: 40px;
    margin-left: 10px;
    margin-bottom: 80px;
    border-radius: 15px;
    float: left;
    width: 67%;
    border-top: solid 5px rgba(255, 208, 0, 0.884);
    border-bottom: solid 5px rgba(255, 208, 0, 0.884);
}

.articleTitle {
    font-weight: bold;
    font-size: 30px;
    padding: 20px;
}

.articleDescription {
    font-size: 16px;
    padding: 0px 20px 10px 20px;
    font-family: 'Open Sans', ChunkyRegular;
}

.extra {
    margin-top: 60px;
    margin-right: 40px;
    margin-bottom: 80px;
    border-radius: 15px;
    float: right;
    width: 25%;
}

.infoblock {
    margin: 20px;
    width: auto;
    border-radius: 15px;
    background-color: #bc48ff;
    box-shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;
}

.infoblockText {
    padding: 20px;
    padding-bottom: 0px;
}

.infobTitle {
    font-size: 25px;
    font-weight: bold;
}

.infobDescription {
    font-size: 18px;
    color: rgb(100, 100, 100);
}

.infobContent {
    display: none;
    padding-top: 20px;
    font-size: 14px;
    font-family: 'Open Sans', ChunkyRegular;
}

.barPurple {
    height: 20px;
    background-color: purple;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.infoblockButtonPurple {
    padding: 5px 17px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    background-color: purple;
    border: none;
    margin: 10px;
    margin-top: -30px;
    margin-left: 95%;
    color: white;
}

.barRed {
    height: 20px;
    background-color: red;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.infoblockButtonRed {
    padding: 5px 17px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    background-color: red;
    border: none;
    margin: 10px;
    margin-top: -30px;
    margin-left: 95%;
    color: white;
}

.barGreen {
    height: 20px;
    background-color: green;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.infoblockButtonGreen {
    padding: 5px 17px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    background-color: green;
    border: none;
    margin: 10px;
    margin-top: -30px;
    margin-left: 95%;
    color: white;
}

.barYellow {
    height: 20px;
    background-color: goldenrod;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.infoblockButtonYellow {
    padding: 5px 17px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    background-color: goldenrod;
    border: none;
    margin: 10px;
    margin-top: -30px;
    margin-left: 95%;
    color: white;
}

.infoblockButtonPurple:hover {
    background-color: rgb(68, 0, 68);
}

.infoblockButtonRed:hover {
    background-color: darkred;
}

.infoblockButtonGreen:hover {
    background-color: darkgreen;
}

.infoblockButtonYellow:hover {
    background-color: darkgoldenrod;
}
@media screen and (max-width: 1450px) {

    .extra {
        margin-right: 20px;
    }

    .infoblockButtonPurple {
        margin-left: 93%;
    }

    .infoblockButtonRed {
        margin-left: 93%;
    }

    .infoblockButtonGreen {
        margin-left: 93%;
    }

    .infoblockButtonYellow {
        margin-left: 93%;
    }
}
.llama-center
{
    position: fixed;
    top: 100px;
    margin-left: -850px;
    width: 950px;
    height: 92px;
    justify-content: left;
    align-items: left;
}
footer
{
    position: fixed;
    background: rgb(62, 75, 88);
    background-size: cover;
    height: auto;
    width: 100%;
    font-family: "Helvetica Neue";
    padding: 10px 0px;
    color: #fff;
    bottom: 0;
}
.container__footer
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1000px;
    margin: auto;
}
.box__footer
{
    display: flex;
    flex-direction: column;
    padding: 30px;
    list-style: none;
    text-align: center;
}
.footer-bottom
{
    text-align: center;
}
.social-bar
{
    position: fixed;
    right: 0;
    top: 35%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 100;
}
.fa-brands
{
   color: white;
   text-decoration: none;
   padding: 0.7rem;
   display: flex;
   transition: all 0.5s;
   background: #6e2e2e;
   border-radius: 50%;
}
.fa-brands:hover
{
    padding-right: 3rem;
    border-radius: 1rem 0 0 1rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.42);
}
.logoespoch{
    text-align: center;
    align-items: center;
}
.aviso-cookies {
	display: none;
	background: #fff;
	padding: 20px;
	width: calc(100% - 40px);
	max-width: 300px;
	line-height: 150%;
	border-radius: 10px;
	position: fixed;
	bottom: 20px;
	left: 20px;
	z-index: 100;
	padding-top: 60px;
	box-shadow: 0px 2px 20px 10px rgba(222,222,222,.25);
	text-align: center;
}

.aviso-cookies.activo {
	display: block;
}

.aviso-cookies .galleta {
	max-width: 100px;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
}

.aviso-cookies .titulo,
.aviso-cookies .parrafo {
	margin-bottom: 15px;
}

.aviso-cookies .boton {
	width: 100%;
	background: #595959;
	border: none;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	padding: 15px 20px;
	font-weight: 700;
	cursor: pointer;
	transition: .3s ease all;
	border-radius: 5px;
	margin-bottom: 15px;
	font-size: 14px;
}

.aviso-cookies .boton:hover {
	background: #000;
}

.aviso-cookies .enlace {
	color: #4DBFFF;
	text-decoration: none;
	font-size: 14px;
}

.aviso-cookies .enlace:hover {
	text-decoration: underline;
}

.fondo-aviso-cookies {
	display: none;
	background: rgba(0,0,0,.20);
	position: fixed;
	z-index: 99;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
}

.fondo-aviso-cookies.activo {
	display: block;
}